.footer{
    background-color: #98012e;
    padding: 3rem; 
    margin-top: 300px;
}
p{
    color: rgb(255, 255, 255);
    font-family: 'Gotham', sans-serif;
    font-weight: 300;
    font-size: 20px;
}